* {
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;  
    background: linear-gradient(180deg, rgba(30,103,63,1) 27%, rgba(119,187,113,1) 85%);
}

body {
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;   
    color: rgb(199, 189, 189);  
    overflow: hidden;   
}

.profile {
    text-align: center;
    margin-top: 20px;
}

h2 {
    font-family: 'Bodoni Moda', serif;
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
}

.social{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 20px 0px;
    margin-bottom: 30px;
}

.links-list {
    list-style: none;
    text-align: center;  
}

.links-list li {
    margin: 10px 30px;

}

.links-list li a {
    font-family: 'Raleway', sans-serif;
    color: rgb(3, 29, 51);
    font-size: larger;
    background-color: rgba(255, 255, 255, 0.281);
    border-radius: 10px;
    border: solid black;
    padding: 15px 20px;
    display: block;
    text-decoration: none;   
}


.social img {
    width: 50px;
    margin: 0 auto;
    display: block;
}

.avatar {
    width: 100px;
    border: 2px solid;
    border-color: rgb(199, 189, 189);
    border-radius: 50%;
    margin-top: 10px;
    margin: 0 auto;    
}
